@import "tailwindcss";

@theme {
  --color-bg-app: #edede9;
  --color-bg-surface: #fdfbf9;
  --color-text-main: #34342a;
  --color-text-muted: #989881;
  --color-border-subtle: #b6a391;
  --color-action-cta: #986b50;
  --color-action-hover: #825a42;
  --color-action-light: #f5ece6;

  --font-brand: "Cabinet Grotesk", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg-app);
    color: var(--color-text-main);
  }
}